body{
}
nav > ul {
	display:flex;
	li{
	padding:1em 1em;
		list-style-type:none;
		a{
			text-decoration:none;
			color:black;
		}
	}
	li:hover{
	background-color:grey;
	}
}
.container{
	margin:5rem 1rem;

}
.index-grid{
	width:100%;
	display:grid;
	grid-template-columns:1fr 1fr;
  	grid-template-rows:1fr 1fr;
	grid-template:
	"grid-title grid-title"
	"item1 item2";
	 justify-content: center; 

	h1{
		padding-left:10em;
		text-align:center;

	}
}
.grid-title{
	grid-area:grid-title;
	text-align:center;
}
.index-grid-item1{
	grid-area:item1;
	justify-content:center;


}
.skill-list{
	margin:2em em;

	li{
		font-size:1.25em;
		padding:.5em .5em;
	}
	}
.index-grid-item2{
	grid-area:item2;
	padding-top:3em;
}
.plus{
	text-align:center;
	width:100%;
	margin:0;
	padding:0;
	margin-top:10rem;
	margin-bottom:10rem;
	h1{
	text-align:center;
	font-size:5.5em;
	}
}