{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}



{% block body %}
<h1 class="orbitron"> Sreejith T Das</h1>
		<div class="container">
			
			<div class="grid-title "> 
				<h1 class="orbitron"> Front-End</h1>
			</div>
			<div class='index-grid'>
				
				<div class="index-grid-item1">
				
					<br>
					 <img src="{{ url_for('static', filename='image.svg') }}">
				</div>
				<div class="index-grid-item2">
					<ul class="skill-list">
						<li>JavaScript</li>
						<li>React JS</li>
						<li>React Hooks</li>
						<li>SCSS</li>
						<li>CSS</li>
						<li>Bootstrap</li>
						<li>JSON</li>
						<li>HTML</li>
						<li>Redux</li>
					</ul>
				</div>
			</div>
		</div> 
			<div class="home_operator"><h1>+</h1></div>
		<div class="container">
			<div class="grid-title"> 
				<h1 class="orbitron"> Back-End</h1>
			</div>
			<div class='index-grid'>
				
				<div class="index-grid-item2">
				
					<br>
					 <img src="{{ url_for('static', filename='image.svg') }}">
				</div>
				<div class="index-grid-item1">
					<ul class="skill-list">
						<li>Flask</li>
						<li>PostgresSQL</li>
						<li>Django</li>
						<li>Mongodb</li>
						<li>SqlAlchemy</li>
						<li>Socket.io</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="home_operator"><h1>=</h1></div>
		<div class="full_stack"> 
				<h1 class="orbitron"> Full Stack</h1>
		</div>
 		<div container class="extras">
 			<div class="grid-title"> 
				<h1> Extras</h1>
			</div>
					<ul class="skill-list">
						<li>Python (Advanced)</li>
						<li>Linux Shell Scripting</li>
						<li>C++</li>
						<li>Tkinter</li>
						<li>Pylab</li>
					</ul>
 		</div>
{% endblock %}
